# sc top level ignore list
############################
downloads

# Eclipse artifacts
############################
.metadata
RemoteSystemsTempFiles

# Build artifacts
############################
.deps
.dirstamp
.libs

# Sandbox directory of External code
############################
doc/ext