# build artifacts
############################
*.o
*.x
out_imag
out_real

# Eclipse
############################
.settings

# Visual Studio artifacts
############################
.vs
Debug
Release
x64
*.vcxproj.user

# Sublime
############################
*.sublime-workspace
